@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Slackey';
  box-sizing: border-box;
  user-select: none;
}
canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: -100;
}

.logo{
  font-family: 'Patua One';
  left: 5%;
  position: absolute;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  font-size: 5vw;
  margin: 0;
}

#phrase{
  margin: 0;
  font-size: 1.1vw;
}

.prediction{
  font-size: 1.5vw;
  font-family: 'Patua One';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
}

.prediction .choices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 10vh;
}

.choices img{
  width: 6vw;
  height: 6vw;
  transition: transform 0.5s;
}

.choices img:hover{
  cursor: pointer;
  transform: translateY(-20%) scale(1.2);
}

#button_div{
  width: 100%;
  height: 40%;
  margin: 10%;
}

#flip{
  margin: auto;
  width: 25%;
  height: 6vh;
  font-size: 1vw;
  background: red;
  color: #FFF;
  border: none;
  border-radius: 10%;
  transition: background 0.5s;
  display: none;
  font-family: 'Patua One';
}

#flip:hover{
  cursor: pointer;
  background: darkred;
}

#flip:active{
  cursor: pointer;
  background: black;
}

.stats{
  position: absolute;
  right: 0%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30vh;
  left: 70%;
}

.stat{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stat h1{
  font-size: 2.5vw;
  margin: 0;
}

.stat h2{
  font-size: 4vw;
  margin: 0;
}

.social{
  width: 30%;
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social a{
  transition: transform 1s ease-out;
  position: relative;
}

.social a::after{
  position: absolute;
  content: '';
  top: -2vw;
  left: 50%;
  z-index: -100;
  width: 1px;
  height: 3vw;
  border-left: 0.15vw dashed black;
  transition: transform 1s ease-out;
}

.social a:hover{
  transform: translateY(55%);
}

.social a:hover::after{
  transform: translateY(10%);
}

.social img{
  width: 3vw;
  height: 3vw;
}

footer{
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Patua One';
}

.pages{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pages a{
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  position: relative;
}

.pages a::after{
  content: '';
  background: black;
  width: 0;
  transition: 0.5s width;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.pages a:hover::after{
  width: 100%;
}

.page_title{
  font-family: 'Pagua One';
  position: absolute;
  left: 50%;
  top: 5%;
  font-size: 3vw;
  margin: 0;
  transform: translate(-50%);
}

.page_content{
  font-family: 'Pague One';
  font-size: 2vw;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: center;
}

#copyright{
  margin: 0;
  font-size: 2vw;
}

/* @media (max-width: 1000px) and (orientation: landscape){
  canvas{
    right: 10%;
  }
} */

@media (max-width: 1000px) and (orientation: portrait){
    canvas{
    top: 30%;
    left: 50%;
  }
  .logo{
    top: 5%;
    width: 40%;
    left: 30%;
  }

  #title{
    font-size: 5vh;
    margin: 0;
  }

  #phrase{
    margin: 0;
    font-size: 1.1vh;
  }

  .prediction{
    font-size: 1.6vh;
    width: 26vh;
    height: 40vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .prediction .choices{
    width: 90%;
    height: 10vh;
  }

  .choices img{
    width: 8vh;
    height: 8vh;
  }

  #flip{
    width: 40%;
    height: 8vw;
    font-size: 2vh;
  }

  .stats{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex-direction: row;
    width: 100%;
    top: 80%;
    left: 0;
  }

  .stat{
    width: 100%;
    justify-content: space-around;
  }

  .stat h1{
    font-size: 4vw;
  }

  .stat h2{
    font-size: 5vw;
  }

  .social{
    width: 8%;
    height: 30vh;
    top: 50%;
    transform: translateY(-50%);
    align-items: flex-end;
    right: 0;
    flex-direction: column;
  }

  .social a::after{
    content: none;
  }

  .social a:hover{
    transform: translateX(-55%);
  }

  .social img{
    width: 4vh;
    height: 4vh;
  }

  footer{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Patua One';
  }

  .pages{
    width: 60%;
  }

  .pages a{
    font-size: 1.5vh;
  }

  .pages a:hover::after{
    width: 0;
  }

  .page_title{
    left: 50%;
    top: 10%;
    font-size: 3vh;
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translate(-50%);
  }

  .page_content{
    font-size: 1.8vh;
    width: 80%;
    top: 30%;
    left: 10%;
  }

  #copyright{
    font-size: 2vh;
  }
}
